<!doctype html>
<html lang="en" ng-app="skyrimPackageManagerApp">
<head>
    <meta charset="utf-8">
    <title>Skyrim Package Manager</title>
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <script src="static/lib/angular.js"></script>
    <script src="static/controller.js"></script>
</head>
<body>
<div class="container">
    <h1>Skryim Package Manager</h1>

    <div  ng-controller="InfoCtrl">
        <p>
            Downloaded mods saved to: {{cfg.save_location}}
        </p>

        <span ng-if="cfg.password_set==false || cfg.username_set==false" class="animate-if">
            Username and/or password is not set
        </span>

        <span ng-if="nxm.registered == false" class="animate-if">
            <button ng-click="register_nxm();">Register NXM handler</button>
        </span>
        <span ng-if="nxm.registered" class="animate-if">
            NXM Handler registered to this application
        </span>
    </div>

    <h3>Current Downloads</h3>
    <table class="table" ng-controller="DlCtrl">
        <thead>
            <tr>
                <th>Name</th>
                <th>Size</th>
                <th>Progress</th>
                <th>Attempt</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="mod in downloading">
                <td>{{mod.name}}</td>
                <td>{{mod.file_size_kb}}kb</td>
                <td>{{(mod.total_downloaded_kb / mod.file_size_kb * 100).toFixed(1)}}%</td>
                <td>{{mod.attempt}}</td>
                <td>
                    <button ng-click="cancel(mod.id);">Cancel</button>
                </td>
            </tr>
        </tbody>
    </table>

    <h3>Downloaded</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Version</th>
                <th>Current Version</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="mod in downloading">
                <td>{{mod.file_name}}</td>
                <td>?</td>
                <td>?</td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>
